.main-hero {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 12.7rem;
  background-image: url(/images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position:top 62px left;
  position: relative;
  
  h1 {
      font-size: $h1-lage-font-size;
      line-height: $h1-lage-lh;
      font-weight: 700;
   
  }
  .hero-text {
  width: 40rem;
  height: 8.4rem;
  color: $secondary-grey;
  line-height: $text-lh;
  font-weight: 500;
  margin-bottom: 6.6rem;
  padding: 0;
}
  &-items {
      
      // margin-right: auto;
      z-index: 10;
  
      .span {
          position: relative;
          p::before {
          content: '';
          width: 100%;
          display: inline-block;
          height: 5px;
          background-color: $primary-midnight-green;
          position: absolute;
          left: 0;
          bottom: 35px;
          z-index: -1;
          }
         
      }
  }
  &-image {
      position: absolute;
      right: 130px;
      top: -75px;
      // width: 100%;
      // height: auto;
      z-index: 9;
      // position: relative;
      .oval {
          position: absolute;
          left: -6.5rem;
          bottom: 7rem;
      }
  }
}
.span-text {
  color: $primary-whtie;
  font-size: $h1-lage-font-size;
  font-weight: 700;
  margin-bottom: 3.4rem;
}
.main-crazy {
  display: flex;
  // margin-right: auto;
  align-items: center;
  gap: 1.7rem;
  margin-bottom: 4.3rem;
  h1 {
      padding-bottom: 4rem;
  }
}
.hero-h-one {
  width: 750px;
  margin-right: -5rem;
}
.hero-nav {
  margin-top: 6.6rem;
}
.break {
  display: none;
}
.hero-image-invisible {
  display: none;
}
.oval-invisible {
  display: none;
}





// main start
.main-start-container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/images/main-start-bg.png);
  background-repeat: no-repeat;
  background-position: right -265px bottom;
  ul {
     
      display: flex;
      justify-content: space-between;
      gap: 9.5rem;
      width: 100%;
      margin-bottom: 5.8rem;
      h2 {
          font-size: $h2-font-size;
          line-height: $h2-lh;
          font-weight: 700;
      }
      p {
          font-size: $text-font-size;
          line-height: $text-lh;
          font-weight: 500;
      }
  }
  
  // .main-start-pull {
  //     padding-left: 9.5rem;
  // }
  // .main-start-pull2 {
  //     padding-left: 25rem;
  // }
  // .main-start-pull3 {
  //     padding-left: 29rem;
  // }
  // .main-start-pull4 {
  //     padding-left: 25rem;
  // }
  hr {
      width: 1110px;
      height: 1px;
      background-color: $primary-whtie;
      border-style: none;
      margin-top: 21.9rem;
      margin-bottom: 7.2rem;
  }

}
.invisible-hr {
  display: none;
  width: 1110px;
  height: 1px;
  background-color: $primary-whtie;
  border-style: none;
  margin-top: 21.9rem;
  margin-bottom: 7.2rem;
}
.main-start-pull {
  width: 280px;
}


// main centr
.main-centr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8.2rem;
  h1 {
      font-size: $h1-lage-font-size;
      font-weight: 700;
      line-height: $h1-lage-lh;
  }
  ul {
      display: flex;
      gap: 3rem;
      margin-bottom: 6.9rem;
  }
  .main-centr-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 8rem;
      align-items: center;
  }
  h3 {
      margin-top: 2rem;
      margin-bottom: 0.7rem;
      font-size: $h3-font-size;
      line-height: $h3-lh;
  }
  p {
      font-size: $text-font-size;
      line-height: $text-lh;
      font-weight: 500;
  }
  img {
      width: 100%;
      height: auto;
      z-index: 9;
  }
  .image-hover:hover {
      opacity: 0.3;
     
  }
  li {
      position: relative;
  }
  li:hover {
      .view-project {
          display: block;
      }
      .view-code {
          display: block;
      }
  }
  .view-project {
      display: none;
      position: absolute;
      left: 220px;
      bottom: 350px;
      z-index: 10;
  }
  .view-code {
      display: none;
      position: absolute;
      left: 220px;
      bottom: 220px;
      z-index: 10;
  }
}


// media main start


@media (max-width:550px) {
  .main-centr-container {
     ul {
      flex-direction: column;
     }
      .main-centr-nav {
          flex-direction: column;
      }
  }

}

@media (max-width:600px) {
  .main-centr-container {
      h1 {
          font-size: 4rem;
          line-height: 1;
      }
  }
 
}


@media (max-width:650px) {
  .main-centr-container {
      h1 {
          font-size: 7.2rem;
          line-height: 1;
      }
  }
}
@media (max-width:770px) {
  .main-centr-container {
      ul {
          flex-direction: column;
          gap: 6rem;
      }
  }
}
@media (max-width:1090px) {
  .main-centr-container {
      .view-project {
          display: block;
          position: absolute;
          left: 20px;
          bottom: -40px;
          z-index: 10;
      }
      .view-code {
          display: block;
          position: absolute;
          left: 200px;
          bottom: -40px;
          z-index: 10;
      }
     
  }
 
}




// media main start
@media (max-width:650px) {
  .invisible-hr {
      display: block;
      width: unset;
      width: 100%;
      margin-top: 4rem;
      margin-bottom: 8rem;
  }
  .main-start-container {
      h2 {
          font-size: 3.2rem;
          line-height: $h2-lh;
          font-weight: 700;
      }
      p {
          font-size: $text-nav-font-size;
          line-height: $text-nav-lh;
          font-weight: 500;
      }
  }
    .ul-wrapper {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .main-start-container {
      ul {
          flex-direction: column;
          align-items: center;
          gap: 5.3rem;
      }
  }
 
} 

@media (max-width:950px) {
  .ul-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
      // background-color: aqua;
  }
 
  .main-start-container {
      ul {
          flex-direction: column;
          gap: 5.3rem;
      }
  }
  .main-start-pull {
      margin-left: unset;
  }
  .main-start-pull2 {
      margin-left: unset;
  }
  .main-start-pull3 {
      margin-left: unset;
  }
  .main-start-pull4 {
      margin-left: unset;
  }
}
@media (max-width:1140px) {
  .main-start-container{
      hr {
          width: unset;
          width: 100%;
      }
  }

  .main-start-pull {
      margin-left: unset;
  }
  .main-start-pull2 {
      margin-left: unset;
  }
  .main-start-pull3 {
      margin-left: unset;
  }
  .main-start-pull4 {
      margin-left: unset;
  }
}




// media hero
@media (max-width: 1300px) {
  .hero-h-one {
      width: unset;
      height: unset;
      width: 100%;
      height: auto;
      
      margin-right: 0;
  }
  .break {
      display: block;
  }
  
 .main-crazy {
  flex-direction: column;
 }
  .container {
      padding-left: 3rem;
      padding-right: 3rem;
  }
  .hero-text {
      width: 100%;
      height: auto;
  }
  .main-hero {
      background-position:top 62px left -200px;
  }

  .main-hero {
      h1 {
          font-size: 7.2rem;
      }
     
      &-image {
          overflow-y: hidden;
          overflow-x: hidden;
         
          .oval {
              left: unset;
              right: -6.5rem;
              bottom: 7rem;
             
          }
      }
     
  }
  .hero-text {
      width: unset;
  }
  .span-text {
      font-size: 7.2rem;
  }
}
@media (max-width:888px) {
  .main-hero {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 33rem;
      background-position:top 62px left -230px;
      position: relative;
      overflow-y: hidden;
      overflow-x: hidden;
     .oval-invisible {
      display: block;
      position: absolute;
      top: 160px;
      right: -65px;

     }
      h1 {
          font-size: 4rem;
      }
      &-items {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      .span-text {
          font-size: 4rem;
          
          
      }
      &-image {
          .hero-image-div{
              display: none;
          }
          right: auto;
          left: auto;
          top: -100px;
          .oval {
              display: none;
          }
      }
  }
 .hero-image-invisible {
  display: block;
 }
.break {
  display: none;
}
 
}
.hero-text {
  font-size: 1.6rem;
  width: 340px;
  width: 100%;
  height: auto;
  // align-items: center;
  padding-right: 4rem;
  padding-left: 4rem;
}
.main-crazy {
  flex-direction: row;
  align-items: center;
}

